@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /*essa é a versão de tablet*/

   body {
      background-image: linear-gradient(to top, #49a09d, #5f2c82); /*faz a versão de tablet ter degrade*/
   }

     section#login {
        width: 80vw;
        height: 280;
     }

     section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
     }

     section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) { /*para desktop e grandes telas*/

   body {
      background-image: linear-gradient(to top, #49a09d, #5f2c82); /*faz a versão de tablet ter degrade*/
   }

   section#login {
      width: 950px;
      height: 350;
   }

   section#login > div#imagem { /*aqui é pra TV*/
      float: right;
      width: 50%; /*isso faz ficar metade imagem e metade login*/
      height: 100%;
   }

   section#login > div#formulario {
      float: left;
      width: 50%;
   }

   div#formulario > h1 {
      font-size: 2em;
   }

   div#formulario > p {
      font-size: 1em;
      margin: 10px 0px;
 }
}